/* css for html portfolio, contact, and index */
.stickyfooter{
	background-color:#666666;
	width:100%;
	border-top:5px solid #4aaaa5;
	color:white;
}
.copyright{
	color:white;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	border-color: #dddddd;
	color:#777777;
	margin:0px 0px 0px 0px;
	padding:0;
	background-image: url('https://wallpaperscraft.com/image/gray_emboss_circles_decorative_coating_72421_2560x1440.jpg');
	
}
.topheading{
	background-color:#4aaaa5;
}

.name{
	background-color:#4aaaa5;
	margin:0px 0px 0px 80px;
	padding:20px;
	color:white;
	font-family: 'Artifika', serif;
}
.links{
	margin: 14px 95px 0px 0px;
}

.main{
	margin: 31px 0px 100px 93px;
    width: 83%;
    height:820px;
}

.row{
	margin-right:0px;
	width:100%;
}

.left-box{
	height:820px;
	background-color:white;
	border:1px solid black;
}
.left-box-title{
	color:#4aaaa5;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom: 3px solid lightgrey;
	margin: 12px 0px 0px 24px;
	font-family: 'Artifika', serif;
}

.me-pic{
	width:100%;
	height:270px;
	margin: 32px 0px 0px 9px;
}
.narrative{
	margin: 32px 0px 0px 9px
}

.right-box{
	height:200px;
	background-color:white;
	border:1px solid black;
}

.right-box-title{
	color:#4aaaa5;
	border-bottom: 1px solid lightgrey;
	font-family: 'Artifika', serif;
	padding-top:20px;
	padding-bottom:20px;
	margin: 0px 0px 0px 0px;
}
#git, #link, #stack {
	width: 138%;
    height: 68px;
    float: left;
    margin: 29px 3px 2px 7px;
}
.top-links{
	margin: 0px 3px 0px 14px;
	}
.nav-links{
	margin-top: 10px;
    margin-right: 82px;
	}
.copyright{
	color:white;
}

@media screen and (max-width:768px){
	
	.nav-links{
    margin-right: 40px;
	}
	.name{
		margin-left:10px;
	}
	.left-box{
		width:105%;
		height: 478px;
		margin:0px 0px 0px 0px;
	}
	.main{
		margin: 38px 6px 90px 27px;
    	width: 93%;
    	height: 478px;
	}
	.me-pic{
		float:left;
		width:33%;
		height:200px;
		width: 48%;
    	height: 217px;
	}
	.narrative{
	float:none;
	}

	.right-box{
		width:100%;
		height:200px;
		width: 105%;
    	height: 200px;
    	margin: 40px 0px 100px 0px;
	}
	.connect-links {
		width:33%;
	}
}

@media screen and (max-width:640px){
	.name{
		text-align:center;
		margin-left:0px;	
	}
	.left-box{
		height: 541px;
    	margin: 0px 0px 0px 0px;
	}

	#git, #link, #stack{
		width: 162%;
    	height: 55px;
	}
	.top-links{
		float:left;
		padding-bottom:20px;
		margin: 0px 28px 0px 88px;
	}
	.link-row{
		width: 120%;
    	margin: 0px 0px 0px 52px;
	}
}